.pdf {
  width: 806mm;
  height: 605mm;
  display: flex;
  flex-direction: column;

  &__header {
    height: 112mm;
    width: 100%;
    background: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    .title {
      font-family: 'Bebas Neue book';
      font-size: 123pt;
      padding-bottom: 0.5rem;
      text-align: center;
      color:#fff;
      span {
        font-family: 'Bebas Neue bold';
      }
    } 
    
  }

  &__main {
    height: 414mm;
    width: 100%;
    display: flex;
  }

  &__footer {
    height: 79mm;
    width: 100%;
    background: $dark-blue;
    position: relative;
  }

}

header .circles .circle {
  top: 7.4mm;
}
footer .circles .circle {
  bottom: 7.4mm;
}

.circle {
  height: 7mm;
  width: 7mm;
  border: solid 1mm $light-blue;
  border-radius: 50%;
  position: absolute;
  
  &:nth-child(1){
    left: 7.4mm;
  }
  &:nth-child(2){
    left: 50%;
    transform: translateX(-50%);
  }
  &:nth-child(3){
    right: 7.4mm;
  }
}

.pdf__main {
  section > header {
    background: $light-blue;
    height: 39mm;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    h2 {
      font-family: 'Bebas Neue bold';  
      font-size: 100pt;
      color: $dark-blue;
      padding: 0 14mm;
      padding-top: 8mm;
    }
  }

  section > main {
    height: 358mm;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 17mm;
    
  }

  section:first-child, section:last-child {
    & > main {
      & > div:nth-child(2){
        margin-bottom: auto;
  
      }
    }
  }
    
  section:first-child, section:nth-child(2) {
    main {
      position: relative;
      border-right: solid 4px $dark-blue;
      &::after {
        content: '';
        height: 100%;
        width: 0.5mm;
        position: absolute;
        right: -2.5mm;
        bottom: 0;
        background: $dark-blue;
        z-index: 1;
      }
    }
    & > header {
      position: relative;
      &::after {
        content: '';
        height: 100%;
        width: 0.5mm;
        position: absolute;
        right: -2.5mm;
        bottom: 0;
        background: #fff;
        z-index: 1;
      }
    }
  }
  p > span.red {
    font-family: 'Raleway extra-bold';
    color: $red;
  }
  .time {
    font-family: 'Bebas Neue regular';
    font-size: 63pt;
    color: $blue-text;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42mm;
  }
}

.urgences {
  width: 228mm;
  border-right: solid 1.5mm #fff;
  text-align: center;
  
  header {  
    
    h2 {
      color: $red !important;
    }
    img {
      width: 22mm;
      height: 26mm;
    }
  }

  .tuto {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 55% 10% 35%;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 147mm;
    color: $blue-text;

    p {
     font-family: 'Raleway semi-bold'; 
     font-size: 28pt;
     line-height: 33pt;
    
    }
    &__text1 {
      grid-column: 1;
      grid-row: 1;
    }
    &__text2 {
      grid-column: 1;
      grid-row: 3;
    }
    &__img1 {
      grid-column: 2;
      grid-row: 1;
      width: 31mm;
      height: 52mm;
    }
    &__img2 {
      grid-column: 2;
      grid-row: 3;
      justify-self: flex-start; 
      align-self: center;
      position: relative;
      &::after {
        content: "17";
        font-family: 'Raleway extra-bold';
        font-size: 98pt;
        position: absolute;
        top: -80pt;
        right: -98pt;
        color: $blue-text;
      }

      img {
        width: 20mm;
        height: 20mm;
      }  
    }
    &__or {
      grid-column: 1;
      grid-row: 2;
      font-size: 41pt !important;
    }
    
  }
  

  &__tuto--en {
    width: 186mm !important;
    height: 117mm !important;
    border: solid 1mm $light-blue;
    border-radius: 0 8mm 0 8mm ;
    position: relative;
    p {
      font-size: 25pt !important;
      line-height: 30pt !important;
    }
    img[alt="interphone"] {
      width: 21mm;
      height: 36mm;
    }
    .tuto__img2 {
      &::after {
        content: "112";
        font-size: 52pt;
        position: absolute;
        top: -34pt;
        right: -82pt;
        color: $blue-text;
      }
    }
  }
  .en-flag {
    position: absolute;
    top: -12mm;
    left: -12mm;
    height: 26mm;
    width: 26mm;
  }
}

.accueil {
  width: 327mm;
  border-right: solid 1.5mm #fff;
  text-align: center;
  header {  
    img {
      width: 33mm;
      height: 27mm;
    }
  }
  .horaires {
    &__title {
      font-family: 'Raleway extra-bold';
      height: 58mm;
      font-size: 35pt;
      color: $blue-text;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__tableau {
      width: 292mm;
      height: 148mm;
      
      .day {
        font-family: 'Raleway semi-bold';
        font-size: 35pt;
        color: $dark-blue;
        text-align: left;
      }
      .hours {
        font-family: 'Helvetica Neue';
        font-size: 30pt;
        color: #000000;
        text-align: center;
      }
      tr {
        border-bottom: solid 1mm #000000;
        td {
          vertical-align: middle;
          &:first-child, &:nth-child(2) {
            border-right: solid 1mm #000000;
          }
        }
        &:last-child{
          border-bottom: none;
          line-height: 25pt;
        }
       
      }
      tr:last-child > td > span {
        font-size: 25pt;
      }
    }
  }
  .row-2 {
    display: flex;
    align-items: center;
    width: 292mm;
    justify-content: space-between;
    height: 62mm;

    &__tuto {
      width: 55%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    p {
      font-family: 'Raleway semi-bold'; 
      font-size: 28pt;
      line-height: 33pt;
     }
     img {
       width: 25mm;
       height: 42mm;
     }
     
  }
    &__rdv {
      font-family: 'Raleway extra-bold';
      font-size: 31pt;
      line-height: 26pt;
      color: $blue-text;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      .qrCode {
        width: 39mm;
        height: 39mm;
        img {
          width: 100%;
        }
      }
    }
  }
  
  .contact {
    width: 292mm;
    height: 52mm;
    background: $light-blue;
    border-radius: 0 8mm 0 8mm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__tel {
      font-family: 'Helvetica Neue';
      font-size: 44pt;
      color: $dark-blue;
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      width: 50%;
      img {
        width: 20mm;
        height: 22mm;
      }
    }
    &__email {
      font-family: 'Raleway semi-bold';
      font-size: 30pt;
      color: $dark-blue;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 95%;
      img {
        width: 30mm;
        height: 20mm;

      }
    }
  }
}

.e-services {
  width: 248mm;
  header > img {
    width: 29mm;
    height: 27mm;
  }
  .gendEnLigne {
    height: 189mm;
    width: 193mm;
    border: solid 1.5mm $light-blue;
    border-radius: 0 8mm 0 8mm ;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6mm;
    &__logo {
      width: 132mm;
      height: 40mm;
    }
    &__text1 {
      font-family: 'Raleway extra-bold';
      font-size: 25pt;
      line-height: 30pt;
      color: $dark-blue;
    }
    &__text2 {
      font-family: 'Raleway semi-bold';
      font-size: 22pt;
      line-height: 30pt;
      color: #000000;
      span {
        font-size: 26pt;
        font-family: 'Raleway extra-bold';
        color: $dark-blue;
      }
    }
    &__url {
      font-family: 'Raleway semi-bold';
      font-size: 27pt;
      color: $blue-text;
      display: flex;
      align-items: center;
      img {
        width: 15mm;
        height: 15mm;
        padding-right: 4mm;
      }
    }
    &__qrCode {
      width: 39mm;
      height: 39mm;
      img {
        width: 100%;
      }
    }
    img.flag {
      width: 25mm;
      height: 25mm;
      &.en {
        position: absolute;
        bottom: 6mm;
        right: 6mm;
      }
      &.fr{
        position: absolute;
        bottom: 6mm;
        right: calc(25mm + 8mm);
      }
    }
  }

  .demarches {
    height: 94mm;
    width: 200mm;
    border: solid 1.5mm $light-blue;
    border-radius: 0 8mm 0 8mm ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4mm;
     > div {
      padding: 0 4mm;
    }
    &__block1 {
      display: flex;

      img {
        width: 32mm;
        height: 24mm;
        margin-right: 4mm;
      }
      p {
        font-family: 'Roboto condensed';
        font-size: 40pt;
        color: $dark-blue;
        span.green {
          color: $green;
        }
        span.small {
          font-size: 21pt;
        }
      }
    }
    &__block2 {
      p:first-child {
        font-size: 25pt;
        font-family: 'Raleway extra-bold';
        color: $dark-blue;
      }
      p:last-child {
        font-size: 20pt;
        font-family: 'Raleway semi-bold';
        line-height: 24pt;
        color: #000000;
      }
    }
    &__block3 {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-around;
      .url {
        display: flex;
        align-items: center;
        img {
          width: 11mm;
          height: 11mm;
          margin-right: 4mm;
        }
        p {
          font-size: 20pt;
          font-family: 'Raleway medium';
          color: $blue-text;

          span {
            font-size: 18pt;
            font-family: 'Raleway extra-bold';
            color: $dark-blue;
          }
        }
      }
      .qrCode {
        width: 25mm;
        height: 25mm;
        img {
          width: 100%;
        }
      }
    }
  }

}

.pdf__footer {
  position: relative;
  img {
    width: 806mm;
    height: 34mm;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .line {
    height: 34mm;
    width: 842px;
    background: #fff; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .line--right {
    right: 0;
  }
}